{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %} 

{% block head_title %}{{ block.super }}: {{ wall.name }}{% endblock %}

{% block body %}

<h2 align="center">{{ wall.name }}</h2>

<div class="form-toggle">    
    <p><span id="post-to-wall-toggle" class="btn">{% trans "Post to the wall" %}</span></p>
    <div id="post-to-wall">
        <form method="POST" class="uniForm" enctype="multipart/form-data" action="{% url add_wall_item wall.slug %}">{% csrf_token %}
            {{ form|as_uni_form }}
            <input type="submit" class="btn primary large" value="{% trans 'Submit' %}" />
        </form>

    </div>
    
</div>

<hr/>
{% if wall.allow_html %}
{% autoescape off %}
{% for item in wall.wallitem_set.select_related %}
<div class="row">
	<div id="profilepic" class="span1">
	{% if profile.profile_pic_small  %}
    		<p><img src="{{ profile.profile_pic_small.url }}"/></p>
    {% else %}	
    		<p><em>no profile picture yet</em></p>
    {% endif %}
	</div>
	<div id="body" class="span11">
    <b>{{ item.author.get_profile.name }}</b>, <i>{{ item.created_at }}</i>{{ item.body }}
    {% ifequal item.author request.user %}<a href="{% url edit_wall_item item.id %}">Edit</a>{% endifequal %}
	</div>
</div>
{% endfor %}
{% endautoescape %}
{% else %}
{% for item in wall.wallitem_set.select_related %}

<div class="row">
	<div id="profilepic" class="span1">
	{% if profile.profile_pic_small  %}
    		<p><img src="{{ profile.profile_pic_small.url }}"/></p>
    {% else %}	
    		<p><em>no profile picture yet</em></p>
    {% endif %}
	</div>
	<div id="body" class="span11">
    <b>{{ item.author.get_profile.name }}</b>, <i>{{ item.created_at }}</i>{{ item.body|striptags }}
    {% ifequal item.author request.user %}<a href="{% url edit_wall_item item.id %}">Edit</a>{% endifequal %}
	</div>
	</div>
{%if item.item_pic %}	
<div class="row">
	<div id="itempic" class="span6">
	<img src="{{ item.author.item_pic_.url }}"/>
	</div>
</div>
{% endif %}

{% endfor %}
{% endif %}


{% endblock %}

{% block extra_body_scripts %}

	<script type="text/javascript" src="{{ STATIC_URL }}/js/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
    
        $(document).ready(function() {
            
            $('#post-to-wall').hide();
            $('#post-to-wall-toggle').click(function() {
                $('#post-to-wall').toggle();
                $('#post-to-wall').autoscroll();
                $('#id_posting').focus();
                return false;
            });
        });
    </script>
    
    <script type="text/javascript">
		window.onload = function()
		{
			CKEDITOR.replace('id_posting', 
				{
					toolbar : 'Basic'
				});
		};
	</script>

{% endblock %}