{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{{ block.super }}: {{ wall.name }}{% endblock %}

{% block body %}

<!--<h2 align="center">{{ wall.name }}</h2>-->

<div class="form-toggle">    
    <p><span id="post-to-wall-toggle" class="btn primary large">{% trans "Post to the wall" %}</span></p>
    <div id="post-to-wall">
        <form method="POST" class="uniForm" enctype="multipart/form-data" action="{% url add_wall_item wall.slug %}">{% csrf_token %}
            {{ form|as_bootstrap }}
            <input type="submit" class="btn primary large" value="{% trans 'Submit' %}" />
        </form>

    </div>
    
</div>

<hr/>

{% autoescape off %}
{% for item in wall.wallitem_set.select_related %}
	<div class="wallitem deleteable">
	<div class="row">
	<div class="span1">
	<div class="profile-pic">
	
	{% if item.author.get_profile.profile_pic_small  %}
    	<p><img src="{{ item.author.get_profile.profile_pic_small.url }}"/></p>
    {% else %}	
    	<p><em>no profile picture yet</em></p>
    {% endif %}
    
    {% ifequal item.author request.user %}
    <div class="delete-button">
    	<a id="delete-item{{item.id}}" href="{% url delete_wall_item item.id %}" class="btn small delete-item delete-confirm-required">delete</a>
	</div>
	{% endifequal %}
    
	</div>
	</div>
	
    <div class="span8">
   			<b>{{ item.author.get_profile.name }}</b>, <i>{{ item.created_at }}  </i><span id="comment-toggle{{item.id}}" class="btn small comment-toggle">comment</span>
   			<p>{{ item.body }}</p>
	<div class="row">
    <div id="comments{{item.id}}" class="span7 offset1 comments">
    
    {% for comment in item.wallcomment_set.select_related reversed %}
    	<div class="comment well deleteable">
    	<b>{{ comment.author.get_profile.name }}</b>, <i>{{ comment.created_at }}</i>{{ comment.body }}
    	{% ifequal comment.author request.user %}
    	<div class="delete-button">
    		<a id="delete-comment{{item.id}}" href="{% url delete_wall_comment comment.id %}"  class="delete-comment delete-confirm-required">delete</a>
		</div>
		{% endifequal%}
    	</div>
    {% endfor %}
    
    </div>
    </div>
    <div class="row">
    <div class="span7 offset1">
    <div id="comment-error{{item.id}}" class"comment-error">
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="span7 offset1">
    
    <div id="comment-form{{item.id}}" class="comment-form">
    <form method="POST" action="{% url add_wall_comment item.id %}" >{% csrf_token %}
		
       		<fieldset class="control-group">
    		<div class="comment-form-controls">
       			{{ commentform.comment }}
    		</div>
			</fieldset>

            <input type="hidden" id="id_submit_url{{item.id}}"  class="submit_url" value="{% url add_wall_comment item.id %}" />
            <input type="hidden" id="id_object_pk{{item.id}}" class="object_pk" value="{{ item.id }}" />
            <input id="submit-comment" type="submit" class="btn primary small" value="{% trans 'Post comment' %}" />
     </form>
    </div>
    </div>
    </div>
	</div>
	
	{% if item.item_pic_resized  %}
	<div class="span3">
   			<img src="{{ item.item_pic_resized.url }}"/>
	</div>
    {% endif %}	
    
	</div>
	<hr/>	
	</div>	
{% endfor %}
{% endautoescape %}
{% endblock %}

{% block extra_body_scripts %}

	<script type="text/javascript" src="{{ STATIC_URL }}/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/wall/deleteconfirm.js"></script>

    <script type="text/javascript">
   
        $(document).ready(function() {
            
            $('#post-to-wall').hide();
            $('#post-to-wall-toggle').click(function() {
                $('#post-to-wall').toggle();
                $('#post-to-wall').autoscroll();
                $('#id_posting').focus();
                return false;
            });
        });
    </script>
    
    <script type="text/javascript">
		window.onload = function()
		{
			CKEDITOR.replace('id_posting', 
				{
					toolbar : 'Basic'
				});
		};
	</script>
	
	<script type="text/javascript">
	$(document).ready(function() {
		$("div.comment-form").hide();
		});
    </script>
	
	<script type="text/javascript">
		$("div.wallitem").delegate("span.comment-toggle", "click", function() {
			wallitemdiv = $(this).parents("div.wallitem");
			$("div.comment-form",wallitemdiv).toggle();
            $("textarea",wallitemdiv).focus();
                return false;
		});
    </script>
    
    <script type="text/javascript">
		$("div.comment-form").delegate("form", "submit", function() {
			comment = $('#id_comment',this).val();
			submit_url = $('input.submit_url',this).val();
			object_pk = $('input.object_pk',this).val();
			
			wallitemdiv = $(this).parents("div.wallitem");
			$("div.comment-error",wallitemdiv).remove();
			
			$.post(submit_url, {comment: comment,wallitemid: object_pk}, function(data)
			{
				if (data.success) {
						comment_html = '<div class="comment well">'+
    					'<b>'+data.author+'</b>, <i>'+data.created_at+'  </i>'+data.comment+
    					'<div class="delete-button">' +
    					'<a id="delete-comment'+ data.commentid +'" href="wall/deletecomment/'+ data.commentid  +'"'+
    					' class="delete-comment delete-confirm-required">delete</a>'+
						'</div></div>'
    					
    					commentsdiv=$("div.comments",wallitemdiv);
    					commentsdiv.append(comment_html);
				    	commentsdiv.show('slow');
				    	
				    	$("div.comment-form",wallitemdiv).hide();
						
				} else if (data.errors) {
				    if (debug) {
				       $("div.comments",wallitemdiv).before('<div class="comment-error">' +
				           data.errors+ '</div>');
				    }
				} else {
				     $("div.comments",wallitemdiv).before('<div class="comment-error">' +
				           'Unknown error'+ '</div>');
				}					

			}, "json");
        	return false;
		});
    </script>
    
{% endblock %}