{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{{ block.super }}: {{ wall.name }}{% endblock %}

{% block body %}

<!--<h2 align="center">{{ wall.name }}</h2>-->

<div class="form-toggle">    
    <p><span id="post-to-wall-toggle" class="btn primary large">{% trans "Post to the wall" %}</span></p>
    <div id="post-to-wall">
        <form method="POST" class="uniForm" enctype="multipart/form-data" action="{% url add_wall_item wall.slug %}">{% csrf_token %}
            {{ form|as_bootstrap }}
            <input type="submit" class="btn primary large" value="{% trans 'Submit' %}" />
        </form>

    </div>
    
</div>

<hr/>
{% if wall.allow_html %}
{% autoescape off %}
{% for item in wall.wallitem_set.select_related %}
	<div class="row">
	<div class="span1">
	{% if item.author.get_profile.profile_pic_small  %}
    		<p><img src="{{ item.author.get_profile.profile_pic_small.url }}"/></p>
    {% else %}	
    		<p><em>no profile picture yet</em></p>
    {% endif %}
    {% ifequal item.author request.user %}<a href="{% url edit_wall_item item.id %}"  class="btn warning small">edit</a>{% endifequal %}
	</div>
	{% if item.item_pic_resized  %}
    <div class="span8">
   			<b>{{ item.author.get_profile.name }}</b>, <i>{{ item.created_at }}  </i><span id="comment-toggle{{item.id}}" class="btn small">comment</span>
   			<p>{{ item.body }}</p>
	<div class="row">
    <div id="comments{{item.id}}" class="span7 offset1">
    {% for comment in item.wallcomment_set.select_related reversed %}
    	<div class="comment{{item.id}} well">
    	<b>{{ comment.author.get_profile.name }}</b>, <i>{{ comment.created_at }}</i>{{ comment.body }}
    	</div>
    {% endfor %}
    </div>
    </div>
    
    <div class="row">
    <div class="span7 offset1">
    <div class="comment-error{{item.id}}">
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="span7 offset1">
    
    <div id="comment-form{{item.id}}" class="comment-form{{item.id}}">
    <form method="POST" action="{% url add_wall_comment item.id %}" >{% csrf_token %}
		
       		<fieldset class="control-group">
    		<div class="controls">
       			{{ commentform.comment }}
    		</div>
			</fieldset>

            <input type="hidden" id="id_submit_url{{item.id}}" value="{% url add_wall_comment item.id %}" />
            <input type="hidden" id="id_object_pk{{item.id}}" value="{{ item.id }}" />
            <input id="submit-comment" type="submit" class="btn primary small" value="{% trans 'Post comment' %}" />
     </form>
    </div>
    </div>
    </div>
	</div>
	<div class="span3">
   			<img src="{{ item.item_pic_resized.url }}"/>
	</div>
    {% else %}	
    <div class="span11">
   			<b>{{ item.author.get_profile.name }}</b>, <i>{{ item.created_at }}  </i><span id="comment-toggle{{item.id}}" class="btn small">comment</span>
   			<p>{{ item.body }}</p>
			
	<div class="row">
    <div id="comments{{item.id}}" class="span10 offset1">

    {% for comment in item.wallcomment_set.select_related reversed %}
    	<div class="comment{{item.id}} well">
    	<b>{{ comment.author.get_profile.name }}</b>, <i>{{ comment.created_at }}</i>{{ comment.body }}
    	</div>
    {% endfor %}
    </div>
    </div>
    
    <div class="row">
    <div class="span10 offset1">
    <div class="comment-error{{item.id}}">
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="span10 offset1">
    
    <div id="comment-form{{item.id}}" class="comment-form{{item.id}}">
    <form method="POST" action="{% url add_wall_comment item.id %}">{% csrf_token %}
            <fieldset class="control-group">
    		<div class="controls">
       			{{ commentform.comment }}
    		</div>
			</fieldset>
            <input type="hidden" id="id_submit_url{{item.id}}" value="{% url add_wall_comment item.id %}" />
            <input type="hidden" id="id_object_pk{{item.id}}" value="{{ item.id }}" />
            <input id="submit-comment" type="submit" class="btn primary small" value="{% trans 'Post comment' %}" />
     </form>
    </div>
    </div>
    </div>
	</div>
    {% endif %}
</div>
	
<hr/>	
{% endfor %}
{% endautoescape %}
{% endif %}
{% endblock %}

{% block extra_body_scripts %}

	<script type="text/javascript" src="{{ STATIC_URL }}/js/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
   
        $(document).ready(function() {
            
            $('#post-to-wall').hide();
            $('#post-to-wall-toggle').click(function() {
                $('#post-to-wall').toggle();
                $('#post-to-wall').autoscroll();
                $('#id_posting').focus();
                return false;
            });
        });
    </script>
    
    <script type="text/javascript">
		window.onload = function()
		{
			CKEDITOR.replace('id_posting', 
				{
					toolbar : 'Basic'
				});
		};
	</script>
	
	{% for item in wall.wallitem_set.select_related %}
	<script type="text/javascript">
    	$(document).ready(function() {
            $('#comment-form{{item.id}}').hide();
            $('#comment-toggle{{item.id}}').click(function() {
                $('#comment-form{{item.id}}').toggle();
                $('#comment-form{{item.id}} textarea').focus();
                return false;
            });
        });
    </script>
    
	<script type="text/javascript">
	$(document).ready(function() {
    debug = true;
    $('div.comment-form{{item.id}} form').submit(function() {
    	
    	comment = $('div.comment-form{{item.id}} #id_comment').val()
		submit_url = $('#id_submit_url{{item.id}}').val();
		object_pk = $('#id_object_pk{{item.id}}').val();
		
		errordiv = 'div.comment-error'+{{item.id}}
        $('div.comment-error').remove();
		
		$.post(submit_url, {comment: comment,wallitemid: object_pk}, function(data)
			{
				if (data.success) {
						comment_html = '<div class="comment'+data.itemid+' well">'+
    					'<b>'+data.author+'</b>, <i>'+data.created_at+'  </i>'+data.comment+
    					'</div>'
    					commentsdiv ='#comments'+data.itemid
    					commentdiv ='div.comment'+data.itemid+':last'
    					commentform ='#comment-form'+data.itemid
				    	$(commentsdiv).append(comment_html);
				    	$(commentdiv).show('slow');
				    	$(commentform).hide();
						
				} else if (data.errors) {
				    if (debug) {
				        $('div.comment-form'+data.itemid).before('<div class="comment-error'+data.itemid+'">' +
				           data.errors+ '</div>');
				    }
				} else {
				     $('div.comment-form'+data.itemid).before('<div class="comment-error'+data.itemid+'">' +
				           data.errors+ '</div>');
				}					

			}, "json");
        	return false;
    });
	});
	</script>
	{% endfor %}

{% endblock %}